/* Class Selector */
.page{
    display: grid;
    grid-template-columns: 55% 45%;
}

.page-left{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: #F4FBFF;
    border: 2px solid red;
}

.page-right {
  height: 100vh;
  background-image: url('./assets/images/right background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.recipe-section{
    display: flex;
    gap: 2rem;
    margin: auto
}

.tips{
    width: 80%;
    border-radius: 12px;
    background-color: rgb(166, 240, 166);
    color: #384653;
    margin: 0;
    padding: 10px;
}

.nutrition{
    width: 100%;
    border-radius: 12px;
    background-color: rgb(166, 240, 166);
    color: #384653;
    margin: 0;
}

.ingredients{
    flex: 5;
    border-radius: 12px;
    background-color: #063e5f;
    color: #F4FBFF;
    padding: 16px;
    margin: 0;
    justify-content: center;
}

.instructions {
    flex: 5;
    border-radius: 12px;
    padding: 16px;
    margin: 0;
    border-radius: 12px;
    color: #384653;
}

p {
  margin: 0 0 2px 0; /* top right bottom left */
}

.alignment{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.row-alignment{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.title-h4{
    color: #2E3C4E;
    font-family: 'Barlow', sans-serif;
    font-size: ~1.25rem;
}

.title-h3{
    color: #2E3C4E;
    font-family: 'Barlow', sans-serif;
    font-size: ~1.5rem;
    
}

.title-h2{
    color: #2E3C4E;
    font-family: 'Barlow', sans-serif;
    font-size: ~2rem;
}

.body-color{
    color: #384653;
    margin: auto;
}

.body-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: ~0.95rem;
}

.list-text{
    font-family: 'Montserrat', sans-serif;
    font-size: ~0.9rem;
}

.rounded{
    border-radius:30px;
}